<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.cisha.stockfishservice">

    <application>
        <service
            android:name=".StockfishService"
            android:exported="false"
            android:process=":stockfish">
        </service>
    </application>

</manifest>